.order-index {
    padding: 0 67px;
    max-width: 1400px;
    margin: 0 auto;

    h2 {
        grid-column: 2;
        text-transform: uppercase;
    font-size: 1.625rem;
    color: #404145;
    }

    .order-layout {
        grid-column: 2;
        min-height: 100vh;

        table {
            border-collapse: collapse;
            border: 1px solid #dadbdd;
            color: #7a7d85;

            th {
                padding: 10px 10px 10px 20px;
                color: #7a7d85;
                text-transform: uppercase;
                border-bottom: 1px solid #dadbdd;
            }

            tr {
                border-bottom: 1px solid #dadbdd;

            }

            td {
                padding: 0 20px;

                .user-with-img {
                    align-items: center;
                    flex-direction: row;

                    img {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }

                .gig-with-img {
                    gap: 5px;
                    align-items: center;

                    img {
                        width: 50px;

                    }

                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        line-height: 1.4;
                        max-height: calc(1.4em * 3);
                    }
                }

                .status {
                    font-size: 16px;
                    text-align: center;
                    color: #fff;
                    padding: .125rem .3125rem;
                    border-radius: .5rem;
                    white-space: nowrap;
                    min-width: 6.25rem
                }
            }

        }

    }
}

.order-preview {
    display: flex;
    padding: 1.874rem;
}

.completed {
    background-color: #19a463;
}

.pending {
    background-color: #c37e10d7;
}