.gig-filter {
    margin-top: 24px;
    gap: 12px;

    .filter-btn {
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid #dadbdd;
        border-radius: 8px;
        align-items: center;

        &:hover {
            background-color: #f0f0f0;
        }

    }

    button {
        background-color: transparent;
        font-size: 16px;
        color: #62646a;
        margin: 0;
        padding: 0;
    }


    .seller-details {
        top: 350px;
        left: 210px;
        position: absolute;

    }

    .budget {
        top: 350px;
        left: 375px;
        position: absolute;

    }

    .delivery-time {
        top: 350px;
        left: 495px;
        position: absolute;
    }

    .menu-content {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        background: #fff;
        border-radius: 8px;

        .menu-data {
            padding: 24px;
            position: relative;
            border-bottom: 1px solid #e4e5e7;
        }

        h1 {
            color: #222325;
            font-size: 16px;
            margin-bottom: 8px;
        }

        .content-btn {
            justify-content: space-between;
            position: static;
            padding: 16px 24px;

            .aplay-btn {
                background-color: #222325;
                color: white;
                padding: 10px 20px;
                border-radius: 8px;
            }
        }
    }

    .checkBox-list {
        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            margin-right: 8px;
            accent-color: #222325;
            border-radius: 10px;
        }

        .flex {
            flex-direction: column;
        }

        .flex>* {
            font-weight: bolder;
            font-family: inter;
            padding: 12px;
            color: #222325;
            font-size: 14px;
               &:hover {
                background-color: #fafafa;
            }
    
        }

    }

    .radio-list {
        flex-direction: column;

        &>* {
            font-weight: bolder;
            font-family: inter;
            color: #404145;
            padding: 12px;
            display: flex;
            align-items: center;
            &:hover {
                background-color: #fafafa;
            }

        }

        label {
            font-size: 14px;
            padding: 12px;
            min-width: 190px;
        }

        input[type="radio"] {
            width: 20px;
            height: 20px;
            accent-color: #222325;
            border-radius: 10px;
            margin-right: 8px;
        }

        span {
            margin-left: 8px;
            color: #74767e;
            font-size: 14px;
        }

        .coustom-input {
            flex-direction: column;
        }
    }
}