.nav-bar-wrapper{
  border-bottom: 2px solid #e4e5e7;
  width: 100%; 
}


.nav-bar-container {
  position: relative;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 1400px;
  
  
  .nav-bar {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-behavior: smooth;
    .category-btn {
      border-bottom: 3px solid transparent;
      transition: border-color 0.2s ease;
    
      &:hover {
        border-bottom-color: #1dbf73;
      }
    }
  }

  .scroll-btn {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    height: 39px;
    border: none;

    &.right {
      right: 25px;
    }

    &.left {
      width: 20px;
      padding: 0;
      margin: 0;
    }
  }

  button {
    margin: 0;
    padding: 8px 10px;
    background-color: transparent;
    color: #62646a;
    line-height: 24px;
    align-items: center;
    font-family: 'MacanBold', sans-serif;
    font-size: 16px;
  }

  button:first-child {
    padding-left: 0;
  }
}