@font-face {
 font-family: poppins;
     src: url(../../fonts/Poppins-Black.ttf);
}
@font-face {
 font-family: inter;
     src: url(../../fonts/Inter_18pt-SemiBoldItalic.ttf);
}
@font-face {
 font-family: MacanBold;
     src: url(../../fonts/MacanPanWeb-Extrabold.ttf);
}
@font-face {
 font-family: Roboto;
     src: url(../../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
 font-family: sofia;
     src: url(../../fonts/SofiaSans-Regular.ttf);
}
@font-face {
 font-family:Grotesk;
     src: url(../../fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
 font-family:Macan;
     src: url(../../fonts/MacanPanWeb-Book.ttf);
}
@font-face {
 font-family:Macan-light;
     src: url(../../fonts/MacanPanWeb-Light.ttf);
}
@font-face {
 font-family:Macan-thin;
     src: url(../../fonts/MacanPanWeb-Thin.ttf);
}