@font-face {
 font-family: poppins;
     src: url(../../fonts/Poppins-Black.ttf);
}
@font-face {
 font-family: inter;
     src: url(../../fonts/Inter_18pt-SemiBoldItalic.ttf);
}
@font-face {
 font-family: MacanBold;
     src: url(../../fonts/MacanPanWeb-Extrabold.ttf);
}